---
title: UKPBJ Artikel
layout: "base.njk"
---
        <!-- START PRIMARY -->
        <div id="primary" class="sidebar-right">
            <div class="container group">
                <div class="row">
                    <!-- START CONTENT -->
                    <div id="content-blog" class="span9 content group">
                        <div class="post type-post status-publish format-standard hentry hentry-post group blog-libra-big row">
                            <!-- post featured & title -->
                            <div class="thumbnail span8">
                                <!-- post title -->

                                <img width="760" height="290" src="{{image}}" class="attachment-blog_libra_big wp-post-image" alt="23"/>
                                <!-- post meta -->
                                <h1 class="post-title">
                                    <a href="blog-detail.html">{{title}}</a>
                                </h1>
                            </div>

                            <div class="clear"></div>
                            <!-- post content -->
                            <div class="the-content single span8 group">
                                {{ content | safe }}
                                <p>
                                    <span class="author">Posted by <a href="#" title="Posts by Nicola Mustone" rel="author"> Nicola Mustone</a></span>
                                    <span class="categories"> in <a href="blog-detail.html" title="View all posts in Design" rel="category tag">Design</a>,
                                        <a href="blog-detail.html" title="View all posts in Themes" rel="category tag">Themes</a>
                                </p>

                            </div>

                            <div class="clear"></div>


                        </div>
                        <div class="row">
                            <!-- START SECTION BLOG -->
                            <div class="section blog span9">
                                <h2 class="title">Related posts</h2>

                                <div class="row">
                                    <div class="post type-post status-publish format-video hentry category-design hentry-post span3">
                                        <div class="row">
                                            <div class="date span1">
                                                <p><span class="month">Oct</span><span class="day">17</span></p>
                                            </div>

                                            <div class="meta span2">
                                                <h4>
                                                    <a href="#" title="Section shortcodes &amp; sticky posts!">
                                                        Section shortcodes &amp; sticky posts!</a>
                                                </h4>

                                                <p class="author">by <strong>Nicola Mustone</strong></p>

                                                <p class="comments">
                                                    <a href="blog-detail.html" title="Comment on Section shortcodes &amp; sticky posts!"><strong>Comments:</strong>5</a></p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="post type-post status-publish format-gallery hentry tag-css tag-html tag-php hentry-post span3">
                                        <div class="row">
                                            <div class="date span1">
                                                <p><span class="month">Apr</span><span class="day">09</span></p>
                                            </div>

                                            <div class="meta span2">
                                                <h4>
                                                    <a href="blog-detail.html" title="This is the title of the first article. Enjoy it.">
                                                        This is the title of the first article. Enjoy it.</a>
                                                </h4>

                                                <p class="author">by <strong>Nicola Mustone</strong></p>

                                                <p class="comments">
                                                    <a href="#" title="Comment on This is the title of the first article. Enjoy it."><strong>Comments:</strong>1</a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="post type-post status-publish format-audio hentry hentry-post span3">
                                        <div class="row">
                                            <div class="date span1">
                                                <p><span class="month">Oct</span><span class="day">29</span></p>
                                            </div>

                                            <div class="meta span2">
                                                <h4>
                                                    <a href="blog-detail.html" title="Another theme by YIThemes!">
                                                        Another theme by YIThemes!
                                                    </a>
                                                </h4>

                                                <p class="author">by <strong>Nicola Mustone</strong></p>

                                                <p class="comments">
                                                    <a href="blog-detail.html" title="Comment on Another theme by YIThemes!">
                                                        <strong>Comments:</strong>
                                                    0</a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END CONTENT -->

                    <!-- START SIDEBAR -->
                    <div id="sidebar-blog-sidebar" class="span3 sidebar group">
                        <div class="widget-first widget recent-posts">
                            <h3>Popular <span class="title-highlight">readings</span></h3>
                            <div class="recent-post group">
                                <div class="hentry-post group">
                                    <div class="thumb-img">
                                        <img width="75" height="75" src="/assets/images/23-75x75.jpg" class="attachment-blog_thumb wp-post-image" alt="23" />
                                    </div>
                                    <div class="text">
                                        <a href="blog-detail.html" title="Nice &amp; Clean. The best for your blog!" class="title">
                                            Nice &amp; Clean. The best for your blog!
                                        </a>
                                        <p class="post-date">November 20, 2012</p>
                                    </div>
                                </div>
                                <div class="hentry-post group">
                                    <div class="thumb-img">
                                        <img width="75" height="75" src="/assets/images/1-75x75.jpg" class="attachment-blog_thumb wp-post-image" alt="1" />
                                    </div>
                                    <div class="text">
                                        <a href="blog-detail.html" title="Another theme by YIThemes!" class="title">
                                            Another theme by YIThemes!
                                        </a>
                                        <p class="post-date">October 29, 2012</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="last-tweets-3" class="widget-2 widget last-tweets">
                            <h3></h3>
                            <div class="list-tweets-3"></div>
                            <p id="follow-twitter">
                                <a href="https://twitter.com/intent/user?screen_name=YIW" target="_blank">
                                    Follow us on Twitter &rarr;
                                </a>

                            <script type="text/javascript">
                                jQuery(function($){
                                    $('#last-tweets-3 .list-tweets-3').tweetable({
                                        listClass: 'tweets-widget-3',
                                        username: 'YIW',
                                        time: false,
                                        limit: 1,
                                        replies: true
                                    });
                                });
				            </script>
                        </div>

                        <div class="widget recent-comments">
                            <h3>Recent <span class="title-highlight">comments</span></h3>
                            <div class="recent-comments group">
                                <div class="the-post group">

                                    <p class="comment">
                                       This is a nice theme!!!
                                    </p>

                                    <div class="avatar">
                                        <img alt='' src='/assets/images/gavatar.png' class='avatar photo' height='33' width='33'/>
                                    </div>

                                    <span class="author">
                                        <strong>
                                            <a href="#">
                                            septBascara
                                            </a>
                                        </strong> in
                                    </span>
                                    <br />

                                    <a href="blog-detail.html" class="title">Nice &amp; Clean. The best for your blog!</a>
                                </div>

                                <div class="the-post group">

                                    <p class="comment">
                                        I was looking fo a theme for a client and i found...
                                    </p>

                                    <div class="avatar">
                                        <img alt='' src='/assets/images/gavatar.png' class='avatar photo' height='33' width='33'/>
                                    </div>


                                    <span class="author">
                                        <strong>
                                            <a href="#">
                                                Web Tasarım
                                            </a>
                                        </strong> in
                                    </span>
                                    <br />

                                    <a href="blog-detail.html" class="title">Section shortcodes &amp; sticky posts!</a>
                                </div>
                            </div>
                        </div>

                        <div class="widget-last widget widget_nav_menu">
                            <h3>A menu widget</h3>
                            <div class="menu-socialize-container">
                                <ul class="menu">

                                    <li class="menu-item menu-item-type-custom">
                                        <a href="#">Facebook</a>
                                    </li>

                                    <li class="menu-item menu-item-type-custom">
                                        <a href="#">Twitter</a>
                                    </li>

                                    <li class="menu-item menu-item-type-custom">
                                        <a href="#">LinkedIn</a>
                                    </li>

                                    <li class="menu-item menu-item-type-custom">
                                        <a href="#">Google+</a>
                                    </li>

                                    <li class="menu-item menu-item-type-custom">
                                        <a href="#">Pinterest</a>
                                    </li>

                                    <li class="menu-item menu-item-type-custom">
                                        <a href="#">Flickr</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- END SIDEBAR -->
                </div>
            </div>
        </div>
        <!-- END PRIMARY -->