                                    <div class="post type-post status-publish format-video category-design span6 sticky">
                                        <div class="row">
                                            <div class="thumbnail span3">
                                                <img width="263" height="243" src="{{post.data.image}}" class="attachment-section_blog wp-post-image" alt="3" />
                                                <div class="date span1">
                                                    <p>
                                                        <span class="month">Oct</span>
                                                        <span class="day">17</span>
                                                    </p>
                                                </div>
                                            </div>

                                            <div class="the-content span3">
                                                <h4>
                                                    <a href="blog-detail.html" title="Section shortcodes &amp; sticky posts!">
                                                        {{post.data.title}}
                                                    </a>
                                                </h4>
                                                {{post.data.description}}
                                                <p>
                                                    <a href="{{post.url}}" class="more-link">|| read the article</a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>