                    <div style="margin-bottom:20px" class="post type-post status-publish format-video sticky hentry category-design hentry-post group blog-small">
                        <!-- post featured & title -->

                        <div class="thumbnail">
                            <div class="row">

                                <!-- post featured -->
                                <div class="image-wrap span3">
                                    <img width="365" height="320" src="{{post.data.image}}" class="attachment-blog_small" alt="3"/>
                                </div>

                                <!-- post title -->
                                <div class="span4">
                                    <h2 class="post-title">
                                        <a href="blog-detail.html">{{post.data.title}}</a>
                                    </h2>

                                    <div class="the-content">
                                        <p>
                                            {{post.data.description}}
                                        </p>
                                        <p>
                                            <a href="{{post.url}}" class="not-btn more-link">
                                                Read more
                                            </a>
                                        </p>

                                    </div>
                                </div>
                                <div class="clear"></div>
                            </div>
                        </div>
                    </div>