        <!-- START TOP BAR -->
        <div id="topbar">
            <div class="container">
                <div class="row">
                    <div id="nav" class="span12 light">

                        <!-- START MAIN NAVIGATION -->

                        <ul id="menu-menu" class="level-1">
                            <li><a href="/">HOME</a></li>
                            <li><a href="/blog/">ARTIKEL UKPBJ</a></li>
                            <li>
                                <a href="#">INFROMASI</a>
                                <ul class="sub-menu">
                                    <li><a href="/peraturan/">PERATURAN</a></li>
                                    <li><a href="/sertifikat/">SERTIFIKAT PBJ</a></li>
                                    <li><a href="/panduan/">PANDUAN</a></li>
                                    <li><a href="https://lpse.kemlu.go.id/eproc4/pengumuman" target="_blank">PENGADAAN KEMLU</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">LINK PENTING</a>
                                <ul class="sub-menu">
                                    <li><a href="https://www.kemlu.go.id/portal/id" target="_blank">KEMLU</a></li>
                                    <li><a href="https://lpse.kemlu.go.id/eproc4" target="_blank">LPSE</a></li>
                                    <li><a href="https://sirup.lkpp.go.id/sirup/ro/rekap/klpd/K17" target="_blank">SiRUP</a></li>
                                    <li><a href="https://e-katalog.lkpp.go.id/katalog/komoditas-kldi/K17" target="_blank">E-KATALOG</a></li>
                                    <li><a href="https://sertifikasipbj.lkpp.go.id/" target="_blank">CLEARING HOUSE</a></li>
                                    <li><a href="https://linktr.ee/diklatpbj" target="_blank">DIKLAT SERTIFIKIASI PBJ</a></li>
                                    <li><a href="https://sikap.lkpp.go.id/pelaku-usaha/cari" target="_blank">SiKAP</a></li>
                                </ul>
                            </li>
                        </ul>
                        <!-- END MAIN NAVIGATION -->
                    </div>
                </div>
            </div>
        </div>
         <!-- END TOP BAR -->

    <!-- START HEADER -->
    <div id="header" class="group" style="padding-bottom:20px;">

        <div class="group container">
            <div class="row" id="logo-headersidebar-container">
                <!-- START LOGO -->
                <div id="logo" class="span6 group">
                    <a id="logo-img" href="/" title="Kementerian Luar Negeri">
                        <img src="/assets/images/KEMLUWHITE.png" title="Libra" alt="Libra" />
                    </a>
                </div>
                <!-- START LOGO sidebar -->
                <div id="header-sidebar" class="span6 group">
                    <div class="widget-first widget header-text-image">
                        <div class="text-image" style="text-align:left">
                            <img src="/assets/images/icons/set_icons/phone32.png" alt="CUSTOMER SUPPORT" />
                        </div>

                        <div class="text-content">
                            <h3>HUBUNGI KAMI</h3>
                            <p>+62 21 344 1508</p>
                        </div>
                    </div>
                    <div class="widget-first widget header-text-image" style="margin-left:60px">
                        <div class="text-image" style="text-align:left">
                            <img src="/assets/images/icons/set_icons/letter32.png" alt="CUSTOMER SUPPORT" />
                        </div>

                        <div class="text-content">
                            <h3>EMAIL KAMI</h3>
                            <p>BLP.BUM@KEMLU.GO.ID</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END HEADER -->