                                        <tr>
                                            <td class="align-left">{{peraturan.data.title}}</td>
                                            <td class="align-left">{{peraturan.data.description}}</td>
                                            <td><a class="more-button more-button-ltr" href="//{{peraturan.data.jdih}}" target="_blank" title="download">download <span class="icon download">&nbsp;</span></a></td>
                                        </tr>