---
title: UKPBJ  Kemlu
layout: "base.njk"
---
    <div id="header" class="group margin-bottom">
        <!-- BEGIN FLEXSLIDER SLIDER -->
 		<div id="slider-flexslider-0" class="slider slider-flexslider flexslider container" style="">
    	   	<div class="slider-wrapper">
                <ul class="slides">
                    <li>
                    	<img width="1170" height="378" src="/assets/images/slider/0013.jpg" class="attachment-full" alt="001" />
    	            </li>

                    <li>
                    	<img width="1170" height="378" src="/assets/images/slider/0033.jpg" class="attachment-full" alt="002" />
    	            </li>

                    <li>
                    	<img width="1170" height="378" src="/assets/images/slider/0034.jpg" class="attachment-full" alt="003" />
    	            </li>

                    <li>
                    	<img width="1170" height="378" src="/assets/images/slider/0042.jpg" class="attachment-full" alt="004" />
    	            </li>
                </ul>
            </div>
            <div class="slider-shadow"></div>
		</div>
        <script type="text/javascript">
            jQuery(document).ready(function($){
			    $('#slider-flexslider-0.flexslider .slider-wrapper').flexslider({
			        animation: 'fade',
			        slideshowSpeed: 3000,
			        animationSpeed: 800,
			        touch: false,
			        controlNav: false
			    });
            });
        </script>
    </div>
    <!-- START PRIMARY -->
    <div id="primary" class="sidebar-no">
        <div class="container group">
            <div class="row">
            <!-- START CONTENT -->
                <div id="content-home" class="span12 content group">
                    <div class="page type-page status-publish hentry group">
                        <div class="clear"></div>
                        <div class="row">
                        <!-- START SECTION BLOG -->
                            <div class="section blog margin-bottom span12">
                        <!--section partners-->
                        <div class="margin-bottom">
                            <div class="logos-slider wrapper">
                                <h2>
                                    Our <span class="title-highlight">partners</span>
                                </h2>
                                <div class="list_carousel">
                                    <ul class="logos-slides">

                                        <li style="height: 70px;">
                                            <a href="#" class="bwWrapper" >
                                                <img src="/assets/images/slider/sirup-li.png" style="max-height: 70px;" class="logo" />
                                            </a>
                                        </li>

                                        <li style="height: 70px;">
                                            <a href="#" class="bwWrapper" >
                                                <img src="/assets/images/slider/sikap-li.png" style="max-height: 70px;" class="logo" />
                                            </a>
                                        </li>

                                        <li style="height: 70px;">
                                            <a href="#" class="bwWrapper" >
                                                <img src="/assets/images/slider/pbj-li.png" style="max-height: 70px;" class="logo" />
                                            </a>
                                        </li>

                                        <li style="height: 70px;">
                                            <a href="#" class="bwWrapper" >
                                                <img src="/assets/images/slider/katalog-li.png" style="max-height: 70px;" class="logo" />
                                            </a>
                                        </li>

                                        <li style="height: 70px;">
                                            <a href="#" class="bwWrapper" >
                                                <img src="/assets/images/slider/ch-li.png" style="max-height: 70px;" class="logo" />
                                            </a>
                                        </li>

                                        <li style="height: 70px;">
                                            <a href="#" class="bwWrapper" >
                                                <img src="/assets/images/slider/lpse-li.png" style="max-height: 70px;" class="logo" />
                                            </a>
                                        </li>

                                        <li style="height: 70px;">
                                            <a href="#" class="bwWrapper" >
                                                <img src="/assets/images/slider/sikap-li.png" style="max-height: 70px;" class="logo" />
                                            </a>
                                        </li>

                                        <li style="height: 70px;">
                                            <a href="#" class="bwWrapper" >
                                                <img src="/assets/images/slider/sirup-li.png" style="max-height: 70px;" class="logo" />
                                            </a>
                                        </li>

                                        <li style="height: 70px;">
                                            <a href="#" class="bwWrapper" >
                                                <img src="/assets/images/slider/pbj-li.png" style="max-height: 70px;" class="logo" />
                                            </a>
                                        </li>

                                        <li style="height: 70px;">
                                            <a href="#" class="bwWrapper" >
                                                <img src="/assets/images/slider/lpse-li.png" style="max-height: 70px;" class="logo" />
                                            </a>
                                        </li>

                                        <li style="height: 70px;">
                                            <a href="#" class="bwWrapper" >
                                               <img src="/assets/images/slider/ch-li.png" style="max-height: 70px;" class="logo" />
                                            </a>
                                        </li>

                                        <li style="height: 70px;">
                                            <a href="#" class="bwWrapper" >
                                                <img src="/assets/images/slider/pbj-li.png" style="max-height: 70px;" class="logo" />
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="clear"></div>
                                <div class="nav">
                                    <a class="prev" href="#"></a>
                                    <a class="next" href="#"></a>
                                </div>
                                <div class="clear"></div>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="clear"></div>

                        <script type="text/javascript">
                            jQuery(function($){

                                $('.logos-slides').imagesLoaded(function(){
                                    $('.logos-slides').carouFredSel({
                                        auto: true,
                                        width: '100%',
                                        prev: '.logos-slider .prev',
                                        next: '.logos-slider .next',
                                        swipe: {
                                            onTouch: true
                                        },
                                        scroll : {
                                            items     : 1,
                                            duration  :	500				}
                                    });
                                });

                                $('.bwWrapper').BlackAndWhite({
                                    hoverEffect : true, // default true
                                    // set the path to BnWWorker.js for a superfast implementation
                                    webworkerPath : false,
                                    // for the images with a fluid width and height
                                    responsive:true,
                                    speed: { //this property could also be just speed: value for both fadeIn and fadeOut
                                        fadeIn: 200, // 200ms for fadeIn animations
                                        fadeOut: 300 // 800ms for fadeOut animations
                                    }
                                });

                                $("a.bwWrapper[href='#']").click(function(){ return false })

                            });
                        </script>
                        <!--section partners end-->
                                <h2 class="title">
                                    From the <span class="title-highlight">blog</span>
                                </h2>
                                <div class="row">
                                    <div class="post type-post status-publish format-video category-design span6 sticky">
                                        <div class="row">
                                            <div class="thumbnail span3">
                                                <img width="263" height="243" src="/assets/images/3-263x243.jpg" class="attachment-section_blog wp-post-image" alt="3" />
                                                <div class="date span1">
                                                    <p>
                                                        <span class="month">Oct</span>
                                                        <span class="day">17</span>
                                                    </p>
                                                </div>
                                            </div>

                                            <div class="the-content span3">
                                                <h4>
                                                    <a href="blog-detail.html" title="Section shortcodes &amp; sticky posts!">
                                                        Section shortcodes &amp; sticky posts!
                                                    </a>
                                                </h4>

                                                <p>
                                                    Fusce nec accumsan eros. Aenean ac orci a magna vestibulum posuere quis nec nisi.
                                                    Maecenas rutrum vehicula condimentum. Donec volutpat nisl ac mauris consectetur gravida.
                                                </p>

                                                <p>
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vel vulputate nibh.
                                                    Pellentesque habitant <strong>morbi tristique</strong> senectus et netus et malesuada fames ac turpis egestas.
                                                </p>

                                                <p>
                                                    <a href="blog-detail.html" class="more-link">|| read the article</a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="post type-post status-publish format-video category-design span6 sticky">
                                        <div class="row">
                                            <div class="thumbnail span3">
                                                <img width="263" height="243" src="/assets/images/3-263x243.jpg" class="attachment-section_blog wp-post-image" alt="3" />
                                                <div class="date span1">
                                                    <p>
                                                        <span class="month">Oct</span>
                                                        <span class="day">17</span>
                                                    </p>
                                                </div>
                                            </div>

                                            <div class="the-content span3">
                                                <h4>
                                                    <a href="blog-detail.html" title="Section shortcodes &amp; sticky posts!">
                                                        Section shortcodes &amp; sticky posts!
                                                    </a>
                                                </h4>

                                                <p>
                                                    Fusce nec accumsan eros. Aenean ac orci a magna vestibulum posuere quis nec nisi.
                                                    Maecenas rutrum vehicula condimentum. Donec volutpat nisl ac mauris consectetur gravida.
                                                </p>

                                                <p>
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vel vulputate nibh.
                                                    Pellentesque habitant <strong>morbi tristique</strong> senectus et netus et malesuada fames ac turpis egestas.
                                                </p>

                                                <p>
                                                    <a href="blog-detail.html" class="more-link">|| read the article</a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                    {# <div class="post type-post status-publish format-standard category-design category-themes tag-cleam tag-corporate tag-minimal span3">
                                        <div class="row">
                                            <div class="date span1">
                                                <p>
                                                    <span class="month">Nov</span>
                                                    <span class="day">20</span>
                                                </p>
                                            </div>

                                            <div class="meta span2">
                                                <h4>
                                                    <a href="blog-detail.html" title="Nice &amp; Clean. The best for your blog!">
                                                        Nice &amp; Clean. The best for your blog!
                                                    </a>
                                                </h4>
                                                <p class="author">by <strong>Nicola Mustone</strong></p>
                                                <p class="comments">
                                                    <a href="blog-detail.html#respond" title="Comment on Nice &amp; Clean. The best for your blog!">
                                                        <strong>Comments:</strong> 0
                                                    </a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                   <div class="post type-post status-publish format-audio category-themes span3">
                                        <div class="row">
                                            <div class="date span1">
                                                <p>
                                                    <span class="month">Oct</span>
                                                    <span class="day">29</span>
                                                </p>
                                            </div>

                                            <div class="meta span2">
                                                <h4>
                                                    <a href="blog-detail.html" title="Another theme by YIThemes!">
                                                        Another theme by YIThemes!
                                                    </a>
                                                </h4>
                                                <p class="author">by <strong>Nicola Mustone</strong></p>
                                                <p class="comments">
                                                    <a href="##respond" title="Comment on Another theme by YIThemes!">
                                                        <strong>Comments:</strong> 0
                                                    </a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="post type-post status-publish format-quote category-uncategorized span3">
                                        <div class="row">
                                            <div class="date span1">
                                                <p>
                                                    <span class="month">Jun</span>
                                                    <span class="day">18</span>
                                                </p>
                                            </div>

                                            <div class="meta span2">
                                                <h4>
                                                    <a href="blog-detail.html" title="Oscar Wilde">
                                                        Oscar Wilde
                                                    </a>
                                                </h4>
                                                <p class="author">by <strong>Nicola Mustone</strong></p>
                                                <p class="comments">
                                                    <a href="#respond" title="Comment on Oscar Wilde">
                                                        <strong>Comments:</strong> 0
                                                    </a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="post type-post status-publish format-gallery category-design category-themes tag-css tag-html tag-php span3">
                                        <div class="row">
                                            <div class="date span1">
                                                <p>
                                                    <span class="month">Apr</span>
                                                    <span class="day">09</span>
                                                </p>
                                            </div>

                                            <div class="meta span2">
                                                <h4>
                                                    <a href="blog-detail.html" title="This is the title of the first article. Enjoy it.">
                                                        This is the title of the first article. Enjoy it.
                                                    </a>
                                                </h4>
                                                <p class="author">by <strong>Nicola Mustone</strong></p>
                                                <p class="comments">
                                                    <a href="##comments" title="Comment on This is the title of the first article. Enjoy it.">
                                                        <strong>Comments:</strong> 1
                                                    </a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div> #}
                            </div>
                        <!-- END SECTION BLOG -->
                        <!-- START SECTION datastudio -->
                            <div class="section blog margin-bottom span12">
                                <h2 class="title">
                                    Our <span class="title-highlight">Dashboard</span>
                                </h2>
                                <div class="row">
                                    <div class="tabs-container">
                                        <ul class="tabs">
                                            <li><h4><a href="#tab1" title="Services">SiRUP</a></h4></li>
                                            <li><h4><a href="#tab2" title="Customers">Customers</a></h4></li>
                                            <li><h4><a href="#tab3" title="Marketing">Marketing</a></h4></li>
                                        </ul>
                                        <div class="border-box group">
                                            <div id="tab1" class="panel group">
                                                <div style="position: relative; padding-top: 75%;">
                                                <iframe src="https://lookerstudio.google.com/embed/reporting/8ba6a4da-e609-424c-9e6f-3ad8747adfaf/page/p_tlwwsjoi4c" frameborder="0" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;"></iframe>
                                            </div> 
                                            </div>
                                            <div id="tab2" class="panel group">
                                                <div style="position: relative; padding-top: 75%;">
                                                <iframe src="https://lookerstudio.google.com/embed/reporting/8ba6a4da-e609-424c-9e6f-3ad8747adfaf/page/p_tlwwsjoi4c" frameborder="0" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;"></iframe>
                                                </div>   
                                            </div>
                                            <div id="tab3" class="panel group">
                                                <div style="position: relative; padding-top: 75%;">
                                                <iframe src="https://lookerstudio.google.com/embed/reporting/8ba6a4da-e609-424c-9e6f-3ad8747adfaf/page/p_tlwwsjoi4c" frameborder="0" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;"></iframe>
                                                </div> 
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <!-- END SECTION datastudio -->

                            <div class="clear"></div>
                        </div>

                        <div class="clear"></div>
                    </div>
                    <!-- START COMMENTS -->
                    <div id="comments"></div>
                    <!-- END COMMENTS -->
                </div>
            <!-- END CONTENT -->

            <!-- START EXTRA CONTENT -->
            <!-- END EXTRA CONTENT -->

            </div>
        </div>
    </div>
    <!-- END PRIMARY -->
    <div class="wrapper-border"></div>
